<ul class="list-group">
  <li *ngFor="let menu of menuItems;" routerLinkActive="active"  routerLink="{{menu.uri}}" class="list-group-item  justify-content-between"> {{menu.text}} </li>
 <!-- <li class="list-group-item  justify-content-between">Active Firmwares</li>
  <li class="list-group-item  justify-content-between">Connected Devices
    <span class="badge badge-default badge-pill">14</span></li>
  <li class="list-group-item  justify-content-between">Retired Firmware</li>
  <li class="list-group-item  justify-content-between">Vestibulum at eros</li>-->
</ul>
