<div class="d-block container">
  <header class="mb-5">
    <!--<h1>
      {{title}}
    </h1>-->
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
      <a class="navbar-brand" href="#">
        <h3 class="p-0"> {{title_short}} 
          <!--<br/><small >Over-The-Air Update</small>-->
        </h3> </a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Dashboard <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">History</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">New</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
  </header>
  <main-content class="">
    <div class="row m-0">
      <div class="col-md-9">
      <router-outlet></router-outlet>
      </div>
      <app-sidebar class="col-md-3"></app-sidebar>

    </div>
  </main-content>
  <footer></footer>
</div>