<div class="d-block container">
  <header class="mb-5">
    <!--<h1>
      {{title}}
    </h1>-->
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
      <a class="navbar-brand" href="#">{{title_short}}</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Dashboard <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">History</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">New</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
  </header>
  <main-content class="">
    <div class="row m-0">
      <div class="col-md-9">
      <h4>  Manifest</h4>
        <div>
          <ul class="list-group bg-faded border-right-0 border-left-0">
            <li class="list-group-item bg-faded border-right-0 border-left-0 border-bottom-0 hoverable">Cras justo odio</li>
            <li class="list-group-item bg-faded  border-right-0 border-left-0 border-bottom-0">Dapibus ac facilisis in</li>
            <li class="list-group-item bg-faded border-right-0 border-left-0 border-bottom-0">Morbi leo risus</li>
            <li class="list-group-item bg-faded border-right-0 border-left-0 border-bottom-0">Porta ac consectetur ac</li>
            <li class="list-group-item bg-faded border-right-0 border-left-0 border-bottom-0">Vestibulum at eros</li>
          </ul>
        </div>
      </div>
      <side-bar class="col-md-3">
        <ul class="list-group">
          <li class="list-group-item  justify-content-between active">Manifest</li>
          <li class="list-group-item  justify-content-between">Firmware Versions</li>
          <li class="list-group-item  justify-content-between">Connected Devices
            <span class="badge badge-default badge-pill">14</span></li>
          <li class="list-group-item  justify-content-between">Retired Firmware</li>
          <li class="list-group-item  justify-content-between">Vestibulum at eros</li>
        </ul>

      </side-bar>

    </div>
  </main-content>
  <footer></footer>
</div>