<div>
  <h4> Active Firmware</h4>
</div>
<div>
  <ul class="list-group bg-faded border-right-0 border-left-0">
    <li class="list-group-item bg-faded border-right-0 border-left-0 border-bottom-0 hoverable">Cras justo odio</li>
    <li class="list-group-item bg-faded  border-right-0 border-left-0 border-bottom-0">Dapibus ac facilisis in</li>
    <li class="list-group-item bg-faded border-right-0 border-left-0 border-bottom-0">Morbi leo risus</li>
    <li class="list-group-item bg-faded border-right-0 border-left-0 border-bottom-0">Porta ac consectetur ac</li>
    <li class="list-group-item bg-faded border-right-0 border-left-0 border-bottom-0">Vestibulum at eros</li>
  </ul>
  <div class="clearfix">
  <button class="btn btn-info float-right">Upload firmware</button>
  </div>
</div>

<p class="pt-5">
  <button class="btn btn-primary">Commit changes</button>
</p>
